.title {
  width: max-content;
  margin: 0 auto 25px auto;
}
.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 30px;
  /* background-color: #b8b3b3af; */
  padding: 10px;
}
.movieItem {
  width: calc((100% - 60px) / 3);
  height: 80px;
  /* background-color: #ce4444af; */
}
.movieBox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}
.movieRating {
  background-color: gold;
  padding: 0 5px;
  border-radius: 5px;
}

.movieImg {
  width: 92px;
  height: 52px;
  object-fit: contain;
}
